%row
  %columns.header-cell{:large => "6", :small => "12"}
    %small
      #{locals[:header_text]}
  %columns.header-cell{:large => "6", :small => "12"}
    %p.right-align-link
      %small
        %a{:href => "{$url}"} read in browser